~# Binaries
/server
*.exe
*.out

# Dependency directories
/vendor/

# IDE/editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Images, comment to upload images
#static/images/*

# Remove deprecated files
templates/projects/*
templates/project-deprecated.html
!templates/projects/.gitkeep
original-main-deprecated.go
struct-main-deprecated.go