<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Elvyn's Portfolio</title>
    <link rel="stylesheet" href = "/static/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="#intro">Introduction</a>
            <a> | </a>
            <a href="#projects">Projects</a>
            <a> | </a>
            <a href="#contact">Contact</a>
        </nav>
    </header>

    <main>
        <section id="intro">
            <h1>Introduction</h1>
            <p>
                My name is Elvyn and I am a recent computer engineering graduate from LSU with a passion in DIY,
                automation, building/creating, and self-hosting tools. Through my passion and curiosity, I plan on learning, developing,
                and sharing my new and upcoming projects through this portfolio I've made.
            </p>
            <img src="/static/images/headshot.jpeg" alt="headshot" width="150">
        </section>

        <section id="projects">
            <h2>Projects</h2>
            <ul>
                <li><strong><a href="/projects/hk-aerial.html">HK Aerial</a>:</strong> Lead a team to design and manufacture an all-terrain payload delivery drone </li>
                <li><strong><a href="/projects/portfolio.html">Portfoli-Go:</a></strong> Self-hosted portfolio using Go</li>
                <li><strong><a href="/projects/homelab.html">Homelab:</a></strong> Home server running Proxmox hypervisor with LXC's, Docker,
                    and Samba share ZFS pool via DAS (direct attached storage)</li>
            </ul>
        </section>

        <section id="skills">
            <h2>Skills</h2>
            <li><strong>Programming Languages:</strong> Python, C++, Go, Verilog, Matlab, ARM Assembly, MIPS Assembly</li>
        </section>

        <section id="contact">
            <h2>Contact</h2>
            <p>Email: <a href="mailto:elvyncachapero@gmail.com">elvyncachapero@gmail.com</a></p>
            <p>LinkedIn: <a href="https://www.linkedin.com/in/the-elvyn/">Linkedin Profile</a></p>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 Elvynprise </p>
    </footer>

</body>
</html>
