<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Elvyn's Portfolio</title>
    <link rel="stylesheet" href = "/static/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="#intro">Introduction</a>
            <a> | </a>
            <a href="#projects">Projects</a>
            <a> | </a>
            <a href="#contact">Contact</a>
        </nav>
    </header>

    <main>
        <section id="intro">
            <h1>Introduction</h1>
            <p>
                May 2025 Computer engineering graduate from LSU with a passion in DIY, automation, building/creating,
                and self-hosting tools.
            </p>
        </section>

        <section id="projects">
            <h2>Projects</h2>
            <ul>
                <li><strong>HK Aerial:</strong> Lead a team to design and manufactured an all-terrain payload delivery
                drone </li>
                <li><strong>Drone object detection:</strong> Edge computing for object detection on drone</li>
                <li><strong>Personal Homelab:</strong> Home server running Proxmox hypervisor with Docker, LXC's,
                    and Samba share ZFS pool via DAS (direct attached storage) to server</li>
            </ul>
        </section>

        <section id="skills">
            <h2>Skills</h2>
            <li><strong>Programming Languages:</strong> Python, C++, Go, Verilog, Matlab, ARM Assembly, MIPS Assembly</li>
        </section>

        <section id="contact">
            <h2>Contact</h2>
            <p>Email: <a href="mailto:elvyncachapero@gmail.com">elvyncachapero@gmail.com</a></p>
            <p>LinkedIn: <a href="https://www.linkedin.com/in/the-elvyn/">LinkedIn Profile</a></p>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 Elvynprise</p>
    </footer>

</body>
</html>
