<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Elvyn's Portfolio - WIP</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
        </nav>
    </header>

    <main>
        <h1>Project Name</h1>
        <p>Overview:</p>
        <p>My role: </p>
        <img src="/static/images/.jpg" alt="alt name" width="300">
    </main>

    <footer>
        <p>&copy; 2025 Elvynprise</p>
    </footer>
</body>
</html>