<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{{ .Title }} - Elvyn's Portfolio</title>
    <link rel="stylesheet" href="/static/style.css?v=20250509">
</head>
<body>
    <header>
        <nav>
            <a href="/">Return Home</a>
        </nav>
    </header>

    <main>
        <section>
            <h1>{{ .Title }}</h1>

            {{ if .Image }}
                <img src="{{ .Image }}" alt=" {{ .Title }} image" width="300" class="project-image">
            {{ end }}

            <p><strong>Summary:</strong> {{ .Description }} </p>
            <p> {{ .Content }} </p>

            {{ if .Technologies }}
                <h3>Technologies Used:</h3>
                <ul>
                    {{ range .Technologies }}
                        <li> {{ . }} </li>
                    {{ end }}
                </ul>
            {{ end }}

            {{ if .Video }}
            <div class="video-container">
                <iframe width="500" height="315" src="{{ .Video }}"
                        frameborder="0" allowfullscreen></iframe>
            </div>
            {{ end }}

        </section>
    </main>

    <footer>
        <p>&copy; 2025 Elvynprise</p>
    </footer>
</body>
</html>